

header {

  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 130px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 80px;
}

nav a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}


.about {
  position: relative;
  width: 100%;
  padding: 35px 0;
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .about-img {
  position: relative;
}

.about .about-img img {
  position: relative;
  width: 100%;
  border-radius: 15px;
  padding-right: 50px;
}

.about .about-content {
  position: relative;
}

.about .about-text p {
  font-size: 16px;
}

