

header {

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 80px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}


.about {
    position: relative;
    width: 100%;
    padding: 35px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
}

.about .about-img img {
    position: relative;
    width: 100%;
    border-radius: 15px;
    padding-right: 50px;
}

.about .about-content {
    position: relative;
}

.about .about-text p {
    font-size: 16px;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.background-image {
    background-image: url('../image/Restaurante.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-black {
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 8px;
    display: block;
}

.form-control {
    width: 500px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.row-login {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px; 
    width: 100%; 
    margin: auto; 
}

.form-control {
    width: 100%; 
    max-width: 500px; 
    padding: 10px; 
    box-sizing: border-box;
    border-radius: 5px;
}